service android.hardware.carsenze-service /vendor/bin/hw/android.hardware.carsenze-service
        interface aidl android.hardware.carsenze.ICarsenze/default
        class hal
        user system
        group system
        
