service android.hardware.invcase-service /vendor/bin/hw/android.hardware.invcase-service
        interface aidl android.hardware.invcase.IInvcase/default
        class hal
        user system
        group system
        
